*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

body{
    background-color: lightslategray;
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    text-align: start;
}
